body{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size: 18px;
  background-color: #e7a934;
}

.outer{
  text-align: center;
}

.page{
  margin-top: 20px;
  max-width: 1200px;
  height:95vh;
  display: inline-block;
  text-align:left;
  padding:30px;
  font-family:'Lato', sans-serif;
  background-color: #FFFFFF;
}

.topofpage{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100px
}

.navbar{
  flex-grow:1;
  text-align: center;
  padding:30px;
  margin-top: 100px
}

a{
  color: #000;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
}

a:hover{
  color: #e7a934
}

.logo{
  max-width: 400px;
  align-items: center;
}

.logo_img{
  margin-top: 80px;
  width: 80%;
  align-items: center;
}

.content{
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size: 18px;
  padding:20px;
  text-align: center;
}
